<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Todo List 1.0</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header th:replace="fragments/fragment.html::shared_header"></header>
    <main class="container">
        <section class="container">
            <h3>Todo List</h3>
            <span th:if="${message=='TODO_CREATED_SUCCESS'}"> Todo item created successfully!
            </span>
            <span th:if="${message == 'TODO_CREATING_FAILED'}"
                  th:text="${error}">
            </span>
        </section>
        <section class="container">
            <span th:if="${!todoList.isEmpty()}" th:text="${'Total items: ' + todoList.size()}"></span>
            <span th:if="${todoList.isEmpty()}">No item to show</span>
        </section>
        <section class="container">
            <ol th:if="${!todoList.isEmpty()}" class="list-group list-group-flush">
                <li th:each="todoItem: ${todoList}"
                    th:class="${todoItem.getPriority().toString() == 'URGENT' ? 'list-group-item-danger' :
                    (todoItem.getPriority().toString() == 'LESS_IMPORTANT' ? 'list-group-item-primary' : 'list-group-item-warning')}
                    + ' list-group-item'">
                    <span th:text="${todoItem.getDescription()} + ' - '"></span>
                    <span th:text="${todoItem.getStatus()}"></span>
                    <span>
                        <a th:href="${'/update-status/' + todoItem.getId() + '/IN_PROGRESS'}" th:if="${todoItem.getStatus().toString() != 'PENDING'}" class="btn btn-success">&#9658;</a>
                        <a th:href="${'/edit/' + todoItem.getId()}" th:if="${todoItem.getStatus().toString() != 'COMPLETED'}" class="btn btn-primary">&#9998;</a>
                        <a th:href="${'/delete/'+ todoItem.getId()}" class="btn btn-danger">&#10008;</a>
                        <a th:href="${'/update-status/' + todoItem.getId() + '/COMPLETED'}" th:if="${todoItem.getStatus().toString() == 'IN_PROGRESS'}" class="btn btn-success">&#10004;</a>
                   </span>
                </li>
            </ol>
        </section>
    </main>
</body>
</html>